# Laravel
backend/.env
backend/vendor/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
backend/public/storage

# Vue.js
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Docker
.env
.docker.env

# Sistema
.DS_Store
Thumbs.db
.idea
*.log
*.sqlite
